<%-include("header")-%>

    <div class="about-container" style="text-align:center; font-size:3rem">
        <h1>Hi </h1>
        <h1>I'm Debanjan.</h1>
        <p>I love to Code.</p>
    </div>


    <%-include("footer")-%>