body {
    height: 100vh;
    color: #E5CFF7;
    font-family: 'AR One Sans', sans-serif;
    background-image: linear-gradient(to right top, #0F0F0F, #232D3F, #232D3F);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

hr {
    border: 0;
    height: 0;
    width: 75%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #FEE715;
}

.container {
    min-width: 30rem;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    min-width: 30rem;
    text-align: center;
    background-color: #101820;
    color: #FEE715;
    padding: 0.5rem;
    border-radius: 10px;
}

.list-items {
    padding: 1rem;
    margin: 30px 50px; /* Default margin */
    color: #FEE715;
    min-width: calc(100% - 100px); /* Default width */
    text-align: left;
    border-radius: 10px;
    min-height: 10rem;
    font-size: 1.5rem;
    background-color: #101820;
}

.my-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-form input {
    color: #FEE715;
    outline: none;
    padding: 5px;
    font-size: 1.3rem;
    min-width: 20rem;
    min-height: 2rem;
    background-color: #101820;
    border: none;
}

.my-form input:focus {
    border-bottom: 2px solid #FEE715;
}

.list-item {
    margin: 30px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input[type=checkbox]:checked+label.strikethrough {
    text-decoration: line-through;
}

.btn {
    padding: 5px;
    font-size: 2.25rem;
    background-color: #FEE715;
    border: 1px solid #E2D1F9;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: #101820;
    opacity: 0.85;
    margin: 0px 10px;
}

.check {
    height: 25px;
    width: 25px;
    margin-right: 1rem;
}

.btn:hover {
    cursor: pointer;
    opacity: 1;
}

/* Default styles for the footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 60px;
    color: white;
}

/* Media query for screens smaller than 576px */
@media screen and (max-width: 576px) {
    .container {
        padding-bottom: 80px;
    }

    footer {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .list-items {
        margin: 30px 10px;
        min-width: calc(100% - 20px);
        padding: 1rem;
        font-size: 1.2rem;
    }
}

/* Additional media query for screens smaller than 540px */
@media screen and (max-width: 540px) {
    .list-items {
        margin: 20px;
        min-width: calc(100% - 40px);
    }
}
